<!-- G+ -->

<!-- Rich Snippet Generator: https://developers.google.com/+/web/snippet/?hl=en -->
<!-- NOTE: Descriptions are no longer shown for simple shares. Only interactive posts still show descriptions. -->
<!-- https://developers.google.com/+/web/share/interactive -->
<meta itemprop="name" content="Is It Possible to Increase the Rate of Innovation?">
<meta itemprop="description" content="There are potential answers to the biggest questions in science which are precluded by our incremental approach. Let me show you why we have a problem.">
<meta itemprop="image" content="https://worldviewer.github.io/refactor/dist/assets/img-mobile/get-big-things-done-7.jpg">

<!-- This does not seem to get picked up by the G+ crawler regardless of where I place it ...
<meta itemprop="description" content="There are potential answers to the biggest questions in science which are precluded by our incremental approach. Let me show you why we have a problem."> -->

<!-- GOOGLE SCHEMA -->

<!-- For information from Google on structured data markup, see
https://developers.google.com/structured-data/?rd=1 -->

<!-- The beauty of it is since it’s Schema.org you can use it on nearly any HTML tag 
on content that is already on the page.

- Itemscope=”[pageType]” – where [pageType] is Article, Blog, Book, Event, LocalBusiness, 
  Organization, Person, Product or Review.
- itemprop=”name” – This acts as the title attribute of the rich snippet and should be 
  limited to 140 characters.
- itemprop=”description” – This is the description of the rich snippet and should be 
  limited to 185 characters.
- itemprop=”image” This is the image of the rich snippet with an optimal size is 180 x 120. 
  Google+ will shrink this image, but if it is too small it will not be displayed.

While all the other types of metadata go in the <head> section of the code, this code will 
potentially live in various places throughout the website. -->

