<!-- TWITTER -->

<!-- Validator at https://cards-dev.twitter.com/validator -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://worldviewer.github.io/refactor/">

<!-- 70 character limit -->
<meta name="twitter:title" content="Is it Possible to Increase the Rate of Innovation?">

<!-- 200 characters before truncate, but the card validator seems to truncate earlier -->
<meta name="twitter:description" content="There are potential answers to the biggest questions in science which are precluded by our incremental approach. Let me show you why we have a problem.">

<!-- No smaller than 60 x 60, typical large card ratio is 280 x 150, so I'll have to create these custom -->
<meta name="twitter:image" content="https://worldviewer.github.io/refactor/dist/assets/img-mobile/get-big-things-done-1-twitter.jpg">
