.desktop {
	// Centers the graphic, TODO: Generate/apply this programmatically
	#impress > div:first-of-type {
		margin-left: -2205px;
		margin-top: -7000px;
	}

	#mobile {
		display: none;
	}

	#impress {
		animation-delay: 0;
	}

	.big-image {
		display: none;
		visibility: hidden;
	}

	.big-image-container.loaded {
		opacity: 1;
	}

	.side-nav {
		visibility: hidden;

		li {
			counter-increment: num;

			&:before {
				background-color: red;
				color: white;
				content: counter(num);
				margin-right: 5px;
				padding: 1px 5px;
			}

			&:nth-of-type(odd) {
				background-color: #ededed;
			}

			line-height: 1.5;
			padding: 10px 15px;

			a {
				color: #0000EE;
				display: inline;
				height: initial;
				line-height: 1.5;
				padding: 0;
			    text-decoration: underline;
			}
		}
	}

	#slide-out > li.active-slide {
		background-color: rgba(255,0,0, .3);
	}

	.preloader-wrapper {
		z-index: 1000;
	}

	.preloader-vertical-center {
		height: 64px;
		left: 50%;
		position: absolute;
		top: 50%;
		margin-left: -32px;
		margin-top: -32px;
		width: 64px;
	}

	#slide-out {
		.title-box {
			background-color: #323232;
			color: #fff;
			font-size: 1rem;
			font-weight: 300;
			padding: 10px 15px;
			width: 360px;
			word-wrap: break-word;
			z-index: 10;

			h1 {
			    -webkit-margin-before: 0em;
			    -webkit-margin-after: 0em;
			    -webkit-margin-start: 0px;
			    -webkit-margin-end: 0px;	

				font-size: 1.5rem;
				margin: 5px 0;
				width: 300px;
			}

			p {
			    -webkit-margin-before: 0em;
			    -webkit-margin-after: 0em;
			    -webkit-margin-start: 0px;
			    -webkit-margin-end: 0px;	

				margin: 0;
			}

			.info-left {
				display: inline-block;
				width: 200px;
			}

			.pic-right {
				display: inline-block;
				float: right;
				margin-right: 35px;
				width: 25%;
			}
		}

		.button-collapse {
			color: white;
			float: right;
			padding-right: 15px;
		}
	}

	.perimeter-buttons {
		animation-duration: 1s;
		animation-delay: 2s;
		background-color: #323232;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		color: #fff;
		cursor: pointer;
		font-size: 1em;
		font-weight: 300;
		padding: 5px 8px;
		position: fixed;
		visibility: hidden;
	}

	#hamburger {
		left: 0;
		padding: 7px 8px 3px 8px;
		top: 0;
		z-index: 1000;
	}

	#page-up {
		bottom: 0;
		left: 20%;
		margin-left: -20px;
		padding: 7px 8px 3px 8px;
		z-index: 1000;
	}

	#page-down {
		bottom: 0;
		left: 80%;
		margin-left: -20px;
		padding: 7px 8px 3px 8px;
		z-index: 1000;
	}

	#mobile-view {
		padding: 7px 7px 3px 9px;
		right: 0;
		top: 0;
		z-index: 1000;
	}

	#zoom-in {
		padding: 7px 7px 3px 9px;
		right: 0;
		top: 33%;
		z-index: 1000;
	}

	#zoom-out {
		padding: 7px 7px 3px 9px;
		right: 0;
		top: 66%;
		z-index: 1000;
	}

	#previous-slide {
		bottom: 0;
		left: 40%;
		margin-left: -20px;
		padding: 7px 8px 3px 8px;
		z-index: 1000;
	}

	#next-slide {
		bottom: 0;
		left: 60%;
		margin-left: -20px;
		padding: 7px 8px 3px 8px;
		z-index: 1000;
	}

	#discuss-slide {
		bottom: 0;
		padding: 9px 8px 1px 8px;
		right: 0;
		z-index: 1000;
	}
}