.mobile {
	#impress {
		display: none;
	};

	#mobile .controversy-title-bar {
		color: white;
		background: rgba(0,0,0,0.8);
		padding: 20px;
		font-weight: 100;
		margin-bottom: 0;
	}

	.preloader-vertical-center {
		display: none;
	}

	.title-box {
		display: none;
	}

	.card {
		clear: both;
	}

	.perimeter-buttons {
		display: none;
	}

	#mobile .top-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		z-index: 99;
	}

	/* Container just in case we want more than just the search input to come along */
	#mobile .page-hash { 
		position: absolute;
		top: 200px;
		height: 60px;
		margin: 0 10px;
		color: white;
	}

	#mobile .top {
		/*height: 240px;*/
		width: 100%;
		/*padding-top: 40px;*/
		position: relative;
	}

	#mobile.fix-hash .top-header {
		background: #323232;
	}

	#mobile.fix-hash .page-hash {
		z-index: 99;
	    position: fixed;
	    top: 0;
	    color: white;
	    margin: 0;
	    padding: 5px 10px 0 3px;
	   	font-size: 1rem;
		font-weight: 300;
	    transition: margin 0.4s;
	}

	#mobile {
		overflow: auto;
		position: relative;
		height: 600px;
	}

	/* Fantastic tip comes from 
	http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html */
	#mobile .menu-icon {
		z-index: 101;
	    position: absolute;
	    top: -1px;
	    right: 10px;
	    padding: 20px 20px;
	    color: white;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent; /* Some Androids */
	}

	#mobile .top-header .logo {
		z-index: 101;
	    position: absolute;
	    top: 1px;
	    right: 70px;
	    padding: 20px 20px;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent; /* Some Androids */
	}

	#mobile.fix-hash .menu-icon {
		padding-right: 10px;
		transition: padding 0.4s;
	}

	#mobile.detach-hash .menu-icon {
		transition: padding 0.4s;
	}

	#mobile.detach-hash .page-hash {
		transition: margin 0.4s;
	}

	#slide-out {
		display: none;
	}

	.mobile-title-box .info-left {
		display: inline-block;
		width: 60%;
	}

	.mobile-title-box .pic-right {
		display: inline-block;
		float: right;
	}

	/*#iscroll {
		position: absolute;
	}*/

	.mobile-title-box .pic-right > img {
		width: 64px;
	}

	.mobile-title-box {
		background-color: #323232;
		padding: 10px 15px 20px 15px;
		font-size: 1rem;
		font-weight: 300;
		color: #fff;
		word-wrap: break-word;
		width: 100%;
		z-index: 10;
		margin-top: 10px;
	}

	.mobile-title-box h1 {
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;	

		margin: 0 0 20px 0;

		font-size: 1.5rem;
		width: 65%;
	}

	.mobile-title-box p {
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;	

		margin: 0;
	}

	.red-num {
		background-color: red;
		color: white;
		content: counter(num);
		padding: 1px 5px;
		margin-right: 5px;
	}

	.card.just-image .card-images {
		border-radius: 2px;
		display: block;
	}

	.collapsed .card.just-image, .collapsed .card.just-quote {
		margin-top: 7px;
		margin-bottom: 14px;
	}

	.collapsed .card.just-image, .collapsed .card.just-quote .card-title {
		margin-top: 7px;
		margin-bottom: 14px;
	}

	.card.just-quote {
		box-shadow: none;
	}

	/*.card.just-image {
		display: none;
	}*/

	/* This makes card side borders visible */
	.card, .hero {
		margin-left: 5px;
		margin-right: 5px;
	}

	p.card-text {
	/*	width: 90%;*/
	}

	/* Do not show card titles when cards are expanded */
	.expanded .card-title {
		display: none;
	}

	/* Allow titles to appear for cards that only have images when expanded */
	.expanded .just-image .card-content {
		display: none;
	}

	/* Only show titles when collapsed */
	.collapsed .card-title + p {
		display: none;
	}

	/* WARNING: This animation duration MUST be larger than the setTimeout
	delays used to remove the classes, or the wrong slides will be shown!
	*/
	.page-hash p {
	  -webkit-animation-duration: .7s;
	}

	/* This colors the table of contents card red */
	.collapsed .current-card {
		background-color: rgba(255,0,0, .3);
	}

	/* Start all of the social share icons off as hidden */
	.top-header .logo {
		-webkit-animation-duration: 2s;
		visibility: hidden;
		z-index: 100;
	}

	.top-header .logo.active {
		z-index: 101;
		visibility: visible;
	}
}