.tablet {
	#impress {
		display: none;
	};

	#mobile .controversy-title-bar {
		color: white;
		background: rgba(0,0,0,0.8);
		padding: 20px;
		font-weight: 100;
		margin-bottom: 0;
	}

	.preloader-vertical-center {
		display: none;
	}

	.title-box {
		display: none;
	}

	.card {
		clear: both;
	}

	.perimeter-buttons {
		display: none;
	}

	#mobile .top-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		z-index: 99;
	}

	/* Container just in case we want more than just the search input to come along */
	#mobile .page-hash { 
		position: absolute;
		top: 200px;
		height: 60px;
		margin: 0 10px;
		color: white;
	}

	#mobile .top {
		/*height: 240px;*/
		width: 100%;
		/*padding-top: 40px;*/
		position: relative;
	}

	#mobile.fix-hash .top-header {
		background: #323232;
	}

	#mobile.fix-hash .page-hash {
		z-index: 99;
	    position: fixed;
	    top: 0;
	    color: white;
	    margin: 0;
	    padding: 5px 10px 0 3px;
	   	font-size: 1rem;
		font-weight: 300;
	    transition: margin 0.4s;
	}

	#mobile {
		overflow: auto;
		position: relative;
		height: 600px;
	}

	@media screen and (min-height: 600px) {
		#mobile {
			height: 1024px;
		}
	}

	#mobile .menu-icon {
		z-index: 101;
	    position: absolute;
	    top: 0;
	    right: 0;
	    padding: 20px 20px;
	    color: white;
	}

	#mobile.fix-hash .menu-icon {
		padding-right: 10px;
		transition: padding 0.4s;
	}

	#mobile.detach-hash .menu-icon {
		transition: padding 0.4s;
	}

	#mobile.detach-hash .page-hash {
		transition: margin 0.4s;
	}

	#slide-out {
		display: none;
	}

	.mobile-title-box .info-left {
		display: inline-block;
		width: 60%;
	}

	.mobile-title-box .pic-right {
		display: inline-block;
		float: right;
	}

	.mobile-title-box .pic-right > img {
		width: 64px;
	}

	.mobile-title-box {
		background-color: #323232;
		padding: 10px 15px 20px 15px;
		font-size: 1rem;
		font-weight: 300;
		color: #fff;
		word-wrap: break-word;
		width: 100%;
		z-index: 10;
		margin-top: 10px;
	}

	.mobile-title-box h1 {
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;	

		margin: 0 0 20px 0;

		font-size: 1.5rem;
		width: 90%;
	}

	.mobile-title-box p {
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;	

		margin: 0;
	}
}